.skeleton {
    width: 100%;
    height: 80%;
    background-color: #131212;
    border-radius: 10px;    
    animation: pulse 1.5s infinite ease-in-out;
    margin-bottom: 10px;
  }
  
  .skeleton-image {
    width: 100%;
    height: 200px;
    background-color: #303030;
    border-radius: 10px;
  }
  
 
  
  .skeleton-text.small {
    width: 80%;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  