.contact-form-container {
    width: 100%;
    max-width: 600px;
    
    overflow: hidden;
  }
  
  .contact-form-title {
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .contact-input-group {
    margin-bottom: 1rem;
  }
  
  .contact-input-group label {
    color: #d9d9d9;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .contact-input-group input,
  .contact-input-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
  border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .contact-submit-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .contact-submit-btn:hover {
    background-color: #2980b9;
  }
  
  .error {
    color: #ff4d4d;
    font-size: 0.9rem;
    margin-top: 0.2rem;
  }
    