@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);
body,html {
	background-color: #000 !important
}
.Call-Button,.Info-Button {
	font-family: inherit;
	letter-spacing: .05em
}
.gradient-text,.hand-gradient,.hand-gradient-text {
	-webkit-text-fill-color: transparent
}
body {
	margin: 0;
	font-family: "Open Sans", sans-serif
}
html {
	scroll-behavior: smooth !important
}
.App {
	text-align: center;
	overflow-x: hidden
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #fff
}
.App-link {
	color: #61dafb
}
.community-section,.stat-item {
	color: #fff;
	background-color: #000
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0)
}
	to {
		transform: rotate(360deg)
}
}
.imgHuman {
	width: 100%;
	object-fit: cover;
	
}
@keyframes spaziale {
	0%,100% {
		transform: translateX(0) scale(1);
		color: #a200ff
}
	25% {
		transform: translateX(-20px) scale(1.2);
		color: #f0f
}
	50% {
		transform: translateY(20px) scale(.8);
		color: #0ff
}
	75% {
		transform: translateX(20px) scale(1.2);
		color: red
}
}
.Animated {
	display: inline-block;
	animation: 5s infinite spaziale;
	white-space: nowrap
}
.community-text h2 {
	font-size: 2.5rem
}
.stat-item {
	margin: 1rem 0;
	padding: 2rem
}
.stat-item h3 {
	font-size: 2rem
}
.stat-item p {
	font-size: 1rem
}
.posizionetitolo {
	position: relative;
	top: -350px
}
.Utilies,.Zoom:hover::after,.buttontalk,.miosvg {
	position: absolute
}
.Info-Button {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 17px;
	padding: .8em 1.5em .8em 1.2em;
	color: #000;
	background: #fff;
	background: linear-gradient(0deg, #b045da 0, #fff 100%);
	border: none;
	box-shadow: 0 .7em 1.5em -.5em #eae9f0be;
	border-radius: 20em
}
.Call-button svg,.Download-Button svg {
	margin-right: 8px
}
.Call-button:hover,.Download-Button:hover {
	box-shadow: 0 .5em 1.5em -.5em #4d36d0be
}
.Call-button:active,.Download-Button:active {
	box-shadow: 0 .3em 1em -.5em #4d36d0be
}
.buttontalk {
	top: 20%;
	z-index: 100
}
.Utilies {
	bottom: 14%;
	right: 10%;
	z-index: 100
}
.svglogin,.svglogin2 {
	bottom: 0;
	height: 100vh
}
@media (max-width:768px) {
	.Utilies {
		position: absolute;
		bottom: 0;
		right: 10%;
		z-index: 100
}
	.community-text h2 {
		position: relative;
		top: -190px
}
	#titolobottom {
		position: relative;
		top: 10px;
		letter-spacing: 1px;
		line-height: 62px
}
	.why-us {
		border-radius: 0 !important
}
}
.video {
	object-fit: contain;
	width: 100%
}
.gradient-text {
	background: linear-gradient(45deg, #ec6aff, #fff);
	-webkit-background-clip: text;
	font-size: 2rem
}
.BasicTitle {
	font-weight: 900 !important;
	color: #f4f4f4 !important;
	border-radius: 45px
}
.Titolo,ul p {
	font-weight: 800
}
.CardServices {
	width: 100%;
	overflow: hidden;
	border: 1px solid transparent
}
.slide {
	margin: 0
}
.Zoom {
	transition: transform .5s, box-shadow .5s
}
.Zoom:hover {
	transform: scale(1.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
	cursor: pointer
}
.Zoom:hover::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .5s;
	opacity: 1
}
.Titolo {
	color: #ec6aff !important;
	font-size: 50px !important;
	text-align: start;
	margin: 10px 0 10%
}
.imageExplain,.max {
	margin: 0;
	height: 100%;
	overflow: hidden;
	width: 100%
}
.Sottotitolo {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	text-align: start
}
#PositionBottom,.bottone2 {
	text-align: center
}
.TestoBlu {
	color: #8a01fb !important
}
.Close-Button {
	outline: 0;
	background-color: #ffe1e1;
	border-radius: 50%;
	border: 0;
	margin-left: 10px;
	margin-bottom: 3px;
	padding: 10px
}
.ChangeLilla,.CloseButtonDiv {
	background-color: #ec6aff !important
}
.ChangeBlue {
	background-color: #8a01fb !important
}
.miosvg {
	height: 100px;
	right: 0
}
.h {
	height: 100%
}
.section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #fff;
	transition: background-color 1s ease-in-out
}
.Call-Button,.navbar-nav .nav-link {
	display: flex;
	align-items: center
}
#changeColor {
	background-color: orchid;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10
}
.Title {
	transition: color 1s ease-in-out;
	opacity: 0;
	transform: translateY(20px);
	animation: 1s ease-out forwards fadeInUp
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px)
}
	to {
		opacity: 1;
		transform: translateY(0)
}
}
#sectionBelow1 {
	background-color: #0f0e3e
}
#sectionBelow2 {
	background-color: #000
}
.fadeIn {
	animation: .2s ease-out forwards fadeIn
}
.contact-form {
	width: 100%
}
.contact-form input,.contact-form textarea {
	margin-bottom: 20px;
	width: 55%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: border-color .3s ease-in-out, transform .3s
}
.contact-form input:focus,.contact-form textarea:focus {
	border-color: #007bff;
	outline: 0
}
.contact-form button {
	background-color: transparent;
	color: #bf53e2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .3s ease-in-out, transform .5s;
	transform: translateY(-13px);
	font-size: 40px
}
.contact-form button:hover {
	transform: scale(1.2);
	transform: translateY(-13px)
}
@keyframes slideUpFadeIn {
	from {
		opacity: 0;
		transform: translateY(50px)
}
	to {
		opacity: 1;
		transform: translateY(0)
}
}
.logo {
	width: 200px
}
.trasparent {
	background-color: transparent;
	color: #fff;
	outline: 0;
	border: none;
	padding: 10px
}
.colorato {
	background-color: #0ff
}
.top {
	height: 30%
}
.COLONNA1 {
	width: 10%;
	background-color: #fff
}
.bg-darkGradient {
	background-image: linear-gradient(to bottom, #000, #535151)
}
.Call-Button {
	font-weight: 500;
	font-size: 17px;
	padding: .8em 1.5em .8em 1.2em;
	color: #fff;
	background: #ad5389;
	background: linear-gradient(0deg, #4d36d0 0, #8474fe 100%);
	border: none;
	box-shadow: 0 .7em 1.5em -.5em #4d36d0be;
	border-radius: 20em
}
.bottone,.bottone2 {
	height: 3rem;
	padding: 0 2rem;
	background: 0 0/400% #3d3a4e;
	position: relative;
	overflow: hidden;
	cursor: pointer
}
.lifooter {
	color: rgba(255, 255, 255, .677) !important;
	font-size: 22px;
	font-weight: 300
}
.bottone,.bottone2,p,ul p {
	color: #fff
}
.navtitle {
	font-weight: 900
}
.bottone {
	border-radius: 1.5rem;
	border: none
}
.bottone2 {
	width: 100%;
	border-radius: 1.5rem;
	border: none
}
.bottone2:hover::before,.bottone:hover::before {
	transform: scaleX(1)
}
.bottone-content {
	position: relative;
	z-index: 1
}
.A222B47,.A3B4A7A,.AA78FB5 {
	position: relative;
	z-index: 100
}
.bottone2::before,.bottone::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(82.3deg, #965de9 10.8%, #6358ee 94.3%);
	transition: 475ms
}
.nav-link {
	font-weight: 600 !important;
	color: rgba(255, 255, 255, .703)
}
.superior {
	width: 100%;
	height: 5vh;
	background-color: #fff
}
.imgPalla:hover {
	transform: scale(.1) rotate(160deg);
	opacity: .1
}
.mt-n3 {
	margin-top: -40px
}
.center-vertical,.slick-track {
	align-items: center
}
.img-fluid {
	max-width: 100%;
	height: auto
}
.slick-slide div {
	margin: 0 10px
}
.why-us {
	padding: 20px;
	background-color: #ec44d9;
	width: 100%;
	height: 500px;
	border-radius: 50px;
	margin: 10px 10px 20px
}
.Lilla {
	color: #ec6aff
}
.Blu {
	color: #05024d
}
.Azzurro {
	color: #38b6ff
}
.LillaBG {
	background-color: #ec6aff
}
.BluBG {
	background-color: #05024d;
	border: 3px solid white;
}
.AzzurroBG {
	background-color: #38b6ff
}
.Title {
	color: #ec6aff;
	font-size: 100px;
	font-weight: 800;
	text-align: start
}
p {
	font-size: 40px
}
.hand-gradient-text {
	background: linear-gradient(to right, #fff, #a200ff);
	text-align: center;
	-webkit-background-clip: text
}
.Title2 {
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px
}
.imgPalla {
	transition: 1s;
	width: 100%;
	height: 100%;
	object-fit: fill
}
.fill,.svglogin,.svglogin2,.videomodifi {
	object-fit: cover
}
@keyframes shineText {
	0%,100% {
		background-position: left
}
	50% {
		background-position: right
}
}
.hand-gradient {
	display: inline-block;
	font-size: 2em;
	font-weight: 700;
	background: linear-gradient(to right, #fff, #a200ff);
	text-align: center;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 200% auto;
	animation: 3s linear infinite shineText
}
.center-vertical {
	height: 100vh;
	display: flex
}
.gradient {
	background: linear-gradient(90deg, #000 0, #080821 35%, #1e0f37 80%) !important
}
.AA78FB5 {
	background-color: #a78fb5 !important
}
.A222B47 {
	background-color: #222b47 !important
}
.A3B4A7A {
	background-color: #3b4a7a !important
}
.over,.person {
	position: relative;
	z-index: 0
}
.form-container {
	width: 100%;
	background-color: #fff;
	padding: 3rem;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .1)
}
.form-control {
	background: #f7f7f7;
	border: none;
	margin-bottom: 1rem;
	box-shadow: none;
	padding: 13px;
	border-radius: 15px
}
.form-control::placeholder {
	color: #bbb
}
.btn-primary {
	background-color: #e83e8c;
	border: none
}
.btn-primary:hover {
	background-color: #dc357d
}
.bg-primary {
	background-color: #ff6b6b !important
}
.text-white,a {
	color: #fff !important
}
.login-button {
	background-color: transparent;
	border: 1px solid #ff00ae;
	outline: 0;
	padding: 1rem;
	border-radius: 20px;
	text-align: center
}
.svglogin {
	width: 100%;
	position: relative;
	right: 12px
}
.svglogin2 {
	width: 100%;
	position: relative;
	left: 13px
}
.person {
	margin-bottom: 10%
}
@media (max-width:768px) {
	.Title {
		font-size: 55px;
		text-align: center;
		letter-spacing: 2px
}
	.over,.person {
		position: relative
}
	.over {
		width: 100%;
		bottom: 60px;
		overflow-x: hidden;
		overflow-y: hidden
}
	.person {
		margin-top: 10px;
		left: 100px;
		z-index: 1 !important
}
}
.gradient-text {
	background: -webkit-linear-gradient(45deg, #ec6aff, #fff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline
}
.stretch {
	line-height: 28px
}
.typewriter h1 {
	color: #fff;
	font-size: 4rem;
	white-space: nowrap;
	overflow: hidden;
	border-right: .15em solid #fff;
	max-width: fit-content;
	animation: 3.5s steps(40, end) typing, .75s step-end infinite blink-caret
}
@keyframes typing {
	from {
		width: 0
}
	to {
		width: 100%
}
}
@keyframes blink-caret {
	from,to {
		border-color: transparent
}
	50% {
		border-color: #fff
}
}
table {
	border-collapse: collapse;
	width: 100%;
	background-color: #97c3f0
}
thead-dark {
	background-color: #0163c4;
	color: #fff
}
td,th {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd
}
th {
	background-color: #666;
	color: #fff
}
tr:hover {
	background-color: #f1f1f1
}
.email-link {
	color: #007bff !important;
	text-decoration: none
}
.email-link:hover {
	text-decoration: underline
}
.nav-link {
	text-decoration: none !important
}
.offcanvas-header .btn-close {
	background-color: #fff;
	color: #fff;
	font-size: 20px
}
.modal-body {
	background-color: #fff !important
}
.terms-container {
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	margin: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}
.terms-container h1,h2 {
	color: #000
}
.terms-container p {
	color: #666;
	font-size: 16px;
	line-height: 1.6
}
.terms-nav ul {
	list-style-type: none;
	padding: 0
}
.terms-nav li {
	display: inline;
	margin-right: 20px;
	color: #000 !important
}
.alert-position {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .1)
}
.alert-info {
	background-color: #007bff;
	color: #fff
}
.alert-success {
	background-color: #28a745;
	color: #fff
}
.alert-warning {
	background-color: #ffc107;
	color: #000
}
.alert-danger {
	background-color: #dc3545;
	color: #fff
}
.img-user {
	width: 220px;
	border-radius: 100%
}
.img-user img {
	width: 100%;
	overflow: hidden;
	border-radius: 100%
}
.albumphoto {
	cursor: pointer
}
.PositionBottomImage {
	position: relative;
	top: 20%
}
.border-right {
	border-right: 1px solid rgba(255, 255, 255, .644)
}
.colnav {
	height: 70%
}
.contact-hero {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center
}
.contact-form {
	padding: 2rem;
	background: #fff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
	border-radius: 8px
}
.videomodifi {
	width: 100%;
	height: 100%
}

.zmusic{
	z-index: 1000;
	height: 100vh;
	width: 100%;
}


.slick-next{
	position: absolute !important;
	right: 2% !important;
	top:80% !important;
}



.slick-prev{
	position: absolute !important;
	left: 8% !important;
	top:80% !important;
	z-index: 5 !important;
}
.trasparent{
	background-color: transparent !important ;
}
.object{
	object-fit: fill !important;
}

.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }
  
 
  .sticky-bottom-image {
	position: sticky;
	bottom: 0;
	z-index: 999; /* Assicurati che l'immagine sia sopra gli altri contenuti */
  }
  