.mainContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000; /* sfondo lilla */
    width: 100%;
    color: #ffffff;
    font-family: 'Arial', sans-serif;

  }
  
  .errorCode {
    font-size: 10rem; /* testo più grande */
    color: #957DAD; /* tonalità più scura di lilla */
    animation: pulse 1.5s infinite;
    font-family: 600;
  }
  
  .errorMessage {
    font-size: 3rem; /* testo più grande */
    color: #d27fb6; /* lilla chiaro */
  }
  
  .description {
    font-size: 1.5rem; /* testo più grande */
    margin-top: 30px;
    opacity: 1;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1.2);
      opacity: 1;
    }
    50% {
      transform: scale(1.1); /* leggermente più grande */
      opacity: 0.8;
    }
  }

/* WebBot.module.css */
.fullHeight {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  background-color: #0d0d0d;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatList {
  background-color: #1a1a1a;
  overflow-y: auto;
}

.chatPlaceholder {
  background-color: #ffffff;
  color: #000000;
}

.chatWindowContainer {
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatWindow {
  background-color: #1a1a1a;
  border: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow-y: auto;
}

.cardHeader {
  background-color: #1a1a1a;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
}

.title {
  color: #ffffff;
}

.botIcon {
  border: 2px solid #ffffff;
}

.chatMessages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
}

.chatMessage {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 70%;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.userMessage {
  background-color: #ffffff;
  color: #000000;
  align-self: flex-end;
  border-top-right-radius: 0;
  margin-left: auto;
}

.userMessage::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.assistantMessage {
  background-color: #ffffff;
  align-self: flex-start;
  border-top-left-radius: 0;
  margin-right: auto;
}

.assistantMessage::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.messageInfo {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 5px;
}

.timestamp {
  font-size: 12px;
  color: #b0b0b0;
}

.copyIcon {
  cursor: pointer;
  color: #d4a5f4;
}

.exportButton {
  margin-left: 10px;
}

.loadingDots {
  color: #d4a5f4;
  text-align: center;
  font-size: 24px;
}

.chatInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px;
}

.inputField {
  background-color: #2a2a2a;
  color: #ffffff;
  width: 80%;
  outline: none;
  border: 1px solid #d4a5f4;
}

.button {
 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.sendButton {
  background-color: #ec6aff;
  padding: 10px 10px 10px 10px;
  transform: rotate(270deg);
  border-radius: 100%;
  color: #ffffff;
  position: absolute;
  right: 10%;
  margin-right: 17px;
}

.sendButton:hover {
  background-color: #0056b3;
}

.settingsButton {
  background-color: #6c757d;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.settingsButton .dropdown-toggle::after {
  display: none;
}

.settingsButton .dropdown-menu {
  background-color: #1a1a1a;
  border: 1px solid #6c757d;
}

.settingsButton .dropdown-item {
  color: #000000;
}

.settingsButton .dropdown-item:hover {
  background-color: #333333;
}

.iframeContainer {
  padding: 15px;
  background-color: #1a1a1a;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0d0d0d;
}

.inputField {
  margin-bottom: 0px;
  outline: none !important;
  border-radius: 40px 40px 40px 40px;
}

.errorText {
  color: #ff4d4d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}