/* Navbar base */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3); /* Navbar inizialmente trasparente */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.8rem 1rem ;
  

}

/* Navbar quando scorre */
.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.95); /* Colore pieno quando si scorre */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aggiungi ombra durante lo scorrimento */
}

/* Navbar link */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar .nav-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ec6aff; /* Colore viola brillante per Dorida Solution */
}

/* Navbar icon button */
.navbar-toggler {
  border: none;
  padding: 0;
  transition: transform 0.3s ease;
}

.navbar-toggler:hover {
  transform: scale(1.1);
}

/* Offcanvas (menu mobile) migliorato */
.offcanvas {
  background-color: #111; /* Sfondo scuro per il menu mobile */
  color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  z-index: 10000000;
}

.offcanvas-header .btn-close {
  filter: invert(1); /* Rende bianco il pulsante di chiusura */
}

.offcanvas-body .nav-link {
  font-size: 1.5rem; /* Ingrandire il testo per dispositivi mobili */
  color: #fff;
  padding: 0.8rem 0;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: color 0.3s ease;
}

.offcanvas-body .nav-link:hover {
  color: #ec6aff; /* Cambia colore durante l'hover */
}

/* Animazioni per il testo del menu */
.nav-animated {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-animated:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

/* Icona utente più grande e visibile */
.swhite {
  color: white;
}

.swhite:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
/* Navbar base */
.navbar {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3); /* Navbar inizialmente trasparente */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.8rem 1rem ;

}

}