.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-header {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: right;
  }
  .info-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .chat-messages {
    padding: 20px;
    height: 400px;
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .message.user {
    background-color: #e0ffe0;
    align-self: flex-end;
  }
  
  .message.chat {
    background-color: #e0e0ff;
    align-self: flex-start;
  }
  
  .error-message {
    color: red;
    padding: 10px;
  }
  
  .Chat
 {
    
   position: relative;
  }
  .Chat p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.627);
  }

  .Nuvoletta {
    position: absolute;
    right: 230px;
bottom: 260px;
    animation: scale-animation 1s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; /* Colore del testo */
    z-index: 0;
  opacity: 0.8;
  transform-origin: center; /* Imposta il centro del rombo come punto di rotazione */

  }
  
  @keyframes scale-animation {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }

  
  

  @media (max-width:400px) {
    .Nuvoletta {
      position: absolute;
  bottom: 200px;
  right: -16px;
    
    }
  }

  @media (min-width:400px) {
    .Nuvoletta {
      position: absolute;
  bottom: 200px;
  right: 10px;
    
    }


  }


  @media (min-width:1000px) {
    .Nuvoletta {
      position: absolute;
  bottom: 250px;
  right: 72px;
    
    }
  }

  @media (min-width:1200px) {
    .Nuvoletta {
      position: absolute;
      right: 230px;
  bottom: 260px;
    
    }}